<section class="section" id="autoservice">
  <div class="project">
    <img src="assets/images/autorepair.png" alt="Autoservice">
    <div class="project__wrapper"></div>
    <div class="project__content">
      <div class="project__content-title">
        <h3>Autoservice</h3>
      </div>
      <div class="project__content-description">
        <ul>
          <li>Angular 15 SPA</li>
          <li>Component-based architecture</li>
          <li>Reusable components</li>
          <li>Typescript</li>
          <li>Two-way data binding</li>
          <li>Reactive forms</li>
          <li>Angular material UI</li>
        </ul>
      </div>
      <div class="project__content-action">
        <!-- <button class="btn">Demo</button> -->
        <a href="https://autoservice-36750.web.app/" class="btn" target="_blank">Demo</a>
        <a href="https://github.com/oleggorina/autoservice" class="btn" target="_blank">Source code</a>
        <!-- <button class="btn">Source code</button> -->
      </div>
    </div>
  </div>
</section>
