<section class="section" id="bookstore">
  <div class="project">
    <img src="assets/images/bookstore.png" alt="Bookstore">
    <div class="project__wrapper"></div>
    <div class="project__content">
      <div class="project__content-title">
        <h3>Bookstore</h3>
      </div>
      <div class="project__content-description">
        <ul>
          <li>Angular 16 SPA</li>
          <li>Component-based architecture</li>
          <li>Reusable components</li>
          <li>Typescript</li>
          <li>Two-way data binding</li>
          <li>Reactive forms</li>
          <li>Firebase Real Time Database</li>
        </ul>
      </div>
      <div class="project__content-action">
        <a href="https://bookstore-2b138.web.app/" class="btn" target="_blank">Demo</a>
        <a href="https://github.com/oleggorina/bookstore" class="btn" target="_blank">Source code</a>
      </div>
    </div>
  </div>
</section>
